:root{
    --animationDurationOne:5s;  /*5*/
    --animationDurationTwo:3s; /*3*/
    --delayOne:1s; /*1*/
    --delayTwo:6s; /*6*/
    --delayThree:8s; /*8*/
    --delayFour:12s; /*12*/
}

body,p{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

a{
    text-decoration: none;
    color:inherit;
}

#home{
    background-color: #bdc3c7;
    background-size: contain;
}

#app{
    background: #D2D7D3;
}
#title{
    text-align: center;
    position: relative;
    top:18em;
    color: #34495e;
}


h1{
    font-size: 1em;
}

h5{
    font-family: 'Lora', serif;
    font-size:11px;
}

p{
  font-size: 10px;
  font-weight: 300; 
}

.intro{    
    font-size: 0.9em;
    color: #34495e;
    margin-bottom: 10px;
    
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.canvasFlags{
    position: absolute;
    bottom: -10px;
    left:0;    
    -webkit-animation-duration: var(--animationDurationOne);
    -webkit-animation-delay: var(--delayTwo);
    -moz-animation-duration: var(--animationDurationOne);
    -moz-animation-delay: var(--delayTwo);
}

.copyright{
    -webkit-animation-duration: var(--animationDurationOne);
    -webkit-animation-delay: var(--delayFour);
    -moz-animation-duration: var(--animationDurationOne);
    -moz-animation-delay: var(--delayFour);
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.copyright>p{
    font-family: 'Lora', serif;
    text-align: right;
    font-size: 9px;
    font-weight: 300;
    color: #2c3e50;
}


p>span{
    text-decoration:underline;
    margin: 2px;
}

.btn{
    border-radius: 1px;
}

.description{
    font-family: 'Lora', serif;
    color:black;
    -webkit-animation-duration: var(--animationDurationOne);
    -webkit-animation-delay: var(--delayOne);
    -moz-animation-duration: var(--animationDurationOne);
    -moz-animation-delay: var(--delayOne);
}


.buttons {
    font-size: 9px !important;
}

.indexTitle {
    font-family: 'Lora', serif;
    color: #2c3e50;
    font-size: 35px;
    margin: 0;
}

li>a{
    font-size:9px;
}

.btn {
    padding: 8px 10px;
}

#indexDescription {
    position: absolute;
    top:0;
    left:0%;
    top:40%;
    max-width: 250px;
}

.leftInfoBox{
    background: #DADFE1;
    padding: 20px 10px 20px 30px;
}

#selectCountry {
    -webkit-animation-duration: var(--animationDurationTwo);
    -webkit-animation-delay: var(--delayThree);
    -moz-animation-duration: var(--animationDurationTwo);
    -moz-animation-delay: var(--delayThree);
}

.howitworks {
    font-size: 8px;
    padding: 0;

}

.howitworks>a{
    font-size: 8px;
    font-weight: 100;
    text-decoration: none;
}
