body,h1,p{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

a{
    text-decoration: none;
    color:inherit;
}

#home{
    background-image: url("../img/worldmap.png");
    background-size: contain;
}

#app{
    background: #D2D7D3;
}
#title{
    text-align: center;
    position: relative;
    top:20em;
    color: #34495e;
}


h1{
    font-size: 1em;
}

p{
  font-size: 10px;
  font-weight: 300; 
}

.intro{    
    font-size: 0.9em;
    color: #3498db;
    margin-bottom: 20px;
    
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.canvasFlags{
    position: absolute;
    bottom: -10px;
    left:0;    
}

.copyright>p{
    font-family: 'Lora', serif;
    position: absolute;
    text-align: right;
    bottom: 10px;
    right: 20px;
    font-size: 9px;
    font-weight: 300;
    color: #2c3e50;
}


p>span{
    text-decoration:underline;
    margin: 2px;
}

.btn{
    border-radius: 1px;
}

.description{
    font-family: 'Lora', serif;
    color:black;
}


.buttons {
    font-size: 9px !important;
}

.indexTitle {
    font-size: 30px;
}

li>a{
    font-size:9px;
}

.btn {
    padding: 8px 10px;
}